[submodule "components/esp-idf"]
	path = components/esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "components/micropython"]
	path = components/micropython
	url = https://github.com/micropython/micropython.git
